# point out to users at commit time that commits need to be signed,
# not once they've done many commits and are trying to push a PR:
git config --local commit.gpgSign true
git config --local tag.gpgSign true

export COMPACTC_VERSION=0.30.0-rc.0 # must be set to a valid version of compactc
export COMPACT_TAG_PREFIX=v # override default value
export COMPACT_REPO=LFDT-Minokawa/compact # override default value
