# point out to users at commit time that commits need to be signed,
# not once they've done many commits and are trying to push a PR:
git config --local commit.gpgSign true
git config --local tag.gpgSign true

export COMPACTC_VERSION=0.33.0-rc.1 # must be set to a valid version of compactc
export COMPACT_TAG_PREFIX=compactc-v # override default value
export COMPACT_REPO=midnightntwrk/compact # override default value

export PROOF_SERVER_VERSION=9.0.0-rc.4
export INDEXER_VERSION=4.4.0-pre-alpha.16-l91r3-n2r3-bridge-and-events-epics-contract-zswap-16c656df
export MIDNIGHT_NODE_VERSION=2.0.0-rc.3

echo "COMPACTC_VERSION=${COMPACTC_VERSION}"
echo "COMPACT_TAG_PREFIX=${COMPACT_TAG_PREFIX}"
echo "COMPACT_REPO=${COMPACT_REPO}"
echo "PROOF_SERVER_VERSION=${PROOF_SERVER_VERSION}"
echo "INDEXER_VERSION=${INDEXER_VERSION}"
echo "MIDNIGHT_NODE_VERSION=${MIDNIGHT_NODE_VERSION}"
